
@import "http://fonts.googleapis.com/css?family=Raleway";
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
body{
  background-color: black;
  font-size: 20px;
}


#abc {
width:100%;
height:100%;
opacity:.97;
top:0;
left:0;
display:none;
position:fixed;
overflow:hidden;
background-color: #FFD700;
}
img#close {
position:absolute;
right:5px;
top:5px;
cursor:pointer;
border-radius: 13px;
background-color: #FFD700;
}
div#popupContact {
position:absolute;
left:50%;
top:15%;
margin-left:-202px;
font-family:'Raleway',sans-serif;
}
form {
max-width:300px;
min-width:250px;
padding:20px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:black
}
p {
margin-top:30px
}
h2 {
background-color:#FFD700;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
input[type=text]{
border:1px solid #ccc;
padding-left:10px;
font-size:16px;
font-family:raleway;
margin-bottom: 30px;
}

textarea {
background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
padding:10px;
resize:none;
border:1px solid #ccc;
padding-left:10px;
font-size:16px;
font-family:raleway;
margin-bottom:50px;

}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:black;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-top: 30px;
}
#submit:hover{
	font-size: 21px;

}
span {
color:red;
font-weight:700
}

/* Orange */
.warning {
  border-color: #ff9800;
  color: orange;
}

.warning:hover {
  background: #FFD700;
  color: black;
}

