body{
  background-color: black;
}

.headc{
  width: 100%;
  max-width: 100%;
  padding: 10px;
  background: black;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.logo{
  color: gold;
  height: 50px;
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}
.logo:hover
{
  text-decoration: none;
  color: white;
}

.navs{
  float: right;

}
.clearfix{
  clear: both;
  
}
.navs ul
{
  margin: 0;
  padding: 0;
  display: flex;
}
.navs ul li
{
  list-style : none;
}
.navs ul li a
{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: gold;
  font-weight: bold ;
  font-size: 18px;
}

.navs ul li a:hover
{
  background: gold;
  transition: 0.5s;
  text-decoration: none;
  color: black;
}

@media (max-width:1200px)
{
  .headm
  {
   
  }
}

@media (max-width:1000px)
{
  .menu-toggle
  {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0px;
    float: right;
    background: black;
    cursor: pointer;
    font-size: 30px;
    color: gold;
  }
  .menu-toggle:before
  {
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 30px;
    }
    .menu-toggle.active:before
    {
    content: '\f00d';
   }
  .navs
  {
    display: none;

  }
  .navs.active{
    display: block;
    width: 100%;
  }
  .navs.active ul
  {
    display: block;
  }
  .navs.active ul li a 
  {
    margin: 0;
  }

}
